APC      : 001,045,1043
DATE     : 2019-10-30 23:27:41 -0400  
HOSTNAME : omicron
VERSION  : 3.14.14 (31 May 2016) debian
UPSNAME  : BK500-01
CABLE    : USB Cable
DRIVER   : USB UPS Driver
UPSMODE  : Stand Alone
STARTTIME: 2019-10-30 22:00:02 -0400  
MODEL    : Back-UPS CS 500 
STATUS   : ONLINE 
LINEV    : 125.0
LOADPCT  : 28.0
BCHARGE  : 100.0
TIMELEFT : 24.6
MBATTCHG : 10
MINTIMEL : 5
MAXTIME  : 0
OUTPUTV  : 115.0
SENSE    : Medium
DWAKE    : 0
DSHUTD   : 180
LOTRANS  : 92.0
HITRANS  : 139.0
RETPCT   : 0.0
ITEMP    : 29.2
ALARMDEL : 30
BATTV    : 13.5
LINEFREQ : 60.0
LASTXFER : Low line voltage
NUMXFERS : 0
TONBATT  : 0
CUMONBATT: 0
XOFFBATT : N/A
SELFTEST : NO
STESTI   : None
STATFLAG : 0x05000008
MANDATE  : 2018-10-03
SERIALNO : 4B1840P07327  
BATTDATE : 2019-01-08
NOMOUTV  : 120
NOMINV   : 120
NOMBATTV : 12.0
NOMPOWER : 300
FIRMWARE : 806.q11 .D USB FW:q
END APC  : 2019-10-30 23:27:39 -0400  
